.announcement {
    background-color: #ECDED4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.announcement p {
    line-height: 1.6;
}

.announcement ul {
    list-style: none;
    padding: 0;
    margin: 0;
}