#scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #747371;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

#scrollUpBtn:hover {
    background-color: #0056b3;
}
